.container {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 15%;
	/*background-color: #999;*/
	bottom: 0;
	transform: translateY(0px);
	transition: transform .3s;
}

.playpause {
	width: 10%;
}

.timeline {
	width: 100%;
	position: absolute;
	margin-top: -32px;
}

.navigation {
	display: flex;
	margin: 0px;
}